.DS_Store
.env.docker
.idea
app/composer.phar
docker-compose.yml
docker-compose.dev.yml
docker-compose.test.yml
DockerPHP/sampleData/products.csv
DockerPHP/sf_messenger.conf
secrets/*
!secrets/.gitignore