[supervisord]
nodaemon=false 
childlogdir=/var/log/supervisord/
logfile=/var/www/supervisord.err.log
loglevel=info
pidfile=/tmp/supervisord.pid

[program:products-catalogue]
environment=MESSENGER_TRANSPORT_DSN="",APP_SECRET="",DATABASE_USER="",DATABASE_PASS=""
command=/var/www/scripts/products-catalogue.sh
user=www-data
numprocs=1
process_name=%(program_name)s_%(process_num)02d
autostart=true
autorestart=true
priority=10
startretries=10
stdout_logfile=/var/log/supervisord/catalogue.err.log
stderr_logfile=/var/log/supervisord/catalogue.err.log

[program:products-manufacture]
environment=MESSENGER_TRANSPORT_DSN="",APP_SECRET="",DATABASE_USER="",DATABASE_PASS=""
command=/var/www/scripts/products-manufacture.sh
user=www-data
numprocs=1
process_name=%(program_name)s_%(process_num)02d
autostart=true
autorestart=true
priority=7
startretries=10
stdout_logfile=/var/log/supervisord/manufacture.err.log
stderr_logfile=/var/log/supervisord/manufacture.err.log
